{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <form id="form" action="{{ path('save') }}" method="post">
                    {% include 'index/form.html.twig' with {'notifications':notifications} %}
                </form>
            </div>

            <div class="col-md-3">
                {% include 'index/sidebox.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/style/notifications.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/NotificationHandler.js"></script>
    <script>
        new NotificationHandler('{{ currentUser.getUsername() }}', "{{ path('test') }}");
    </script>
{% endblock %}