<div class="sticky-top pt-2">
    {% include 'index/sidebox/help.html.twig' %}

    {# {% include 'index/sidebox/placeholder.html.twig' %} #}

    {% include 'index/sidebox/button.html.twig' %}
</div>