{% extends 'base.html.twig' %}

{% block body %}
    <form id="form" name="form" action="{{ path('user_edit', {id: entity.getId()}) }}" method="post">
        {{ include('users/form.html.twig') }}
    </form>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}