<div class="card bg-info text-white">
    <div class="card-header text-center">
        <span class="fa fa-info-circle"></span> Help
    </div>

    <div class="card-body">
        <p>You can test the single configuration with <span class="fa fa-location-arrow"></span>. Only available for saved configurations.</p>

        <p>Click on <span class="fa fa-times text-danger"></span> to remove a configuration.</p>

        <p>With <span class="fa fa-plus"></span> you can add a new configuration.</p>

        <p>To save the configuration use <span class="fa fa-save"></span></p>
    </div>
</div>