<div class="card bg-warning mt-2">
    <div class="card-header text-center">
        <span class="fa fa-asterisk"></span> Placeholder
    </div>

    <div class="card-body">
        <p>%TITLE% => Stream Title</p>
        <p>%NAME% => Channel Name</p>
        <p>%GAME% => Current Game</p>

    </div>
</div>